@import url("./__ikon_play/video__icon_play.css");
@import url("./__duration/video__duration.css");
@import url("./__title/video__title.css");
@import url("./__subtitle/video__subtitle.css");
@import url("./__item-bg/video__item-bg.css");
.video__item {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content:left;
    max-width: 583px;
    max-height: 323px;
    border-radius: 5px;
    z-index: 0;
}
.video__item :hover {
    background: #000000;
    opacity: 0.5;
    transition: .2s linear;
}