@import url("./comment/comment.css");
.comments__container {
    max-width: 1184px;
    margin: 72px auto;
    display: flex;
    justify-content: space-between;
}
@media all and (max-width: 1020px) {
    .comments__container {
        flex-direction: column;
        align-items: center;
       
    }
}