.footer__copyright {
    align-self: center;
    max-width: 282px;
    height: 13px;
    margin-left: auto;

    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;

    color: #FFFFFF;
}
@media all and (max-width: 767px) {
    .footer__copyright {
        margin-left: 0;
        margin-top: 48px;
        align-self:baseline; 
    }
}