@import url("./__image/cover__image.css");
@import url("./__title/cover__title.css");
@import url("./__subtitle/cover__subtitle.css");
.cover {
    display: flex;
    position: relative;
    max-width: 1184px;
    margin: 100px auto;
    background: #2A2C2F;
    
}
.cover :hover {
    opacity: 0.5;
    transition: 0.2s linear;
}