.section-subtitle {
    margin: 48px auto 0;
    max-width: 583px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
   
}
@media all and (max-width:760px) {
    .section-subtitle {
        font-size: 16px;
        line-height: 23px;
        max-width: 375px;
    
    }
}