.video__title {
position: absolute;
    z-index: 1;
    top:50%;
    left: 5%;
    max-width: 322px;
    height: 73px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;

    color: #FFFFFF;
    
}