.cover__subtitle {
    position: absolute;
    max-width: 382px;

    z-index: 1;
    top:70%;
    left: 35%;

    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    color: #FFFFFF;

}